<p>pages works!</p>
<div class="main-container">
    <div class="row">
        <app-navbar></app-navbar> 
    </div>    

    <div class="row" style="height: 82vh;">
        <div class="col side-bar-area" >
            <app-sidebar ></app-sidebar>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
        <div class="col hide-bar-area" >
            ads...
        </div>
    </div>

    <div class="row">
        <app-footer></app-footer>
    </div>

</div>